body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
input {
    padding: 0 10px 0 10px;
    font-size: 20px;    
    text-align: center;
    position: relative;
}
h1 {
    padding: 10px 0 10px 0;
    margin-top: 30px;
}

#info {
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}
#info, h1 {
    padding: 0 15px 0 15px;
}

/*invisible {
    visibility: hidden;
} */

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s linear 800ms, opacity 3s;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.scoreAndTimer {
    display: inline-flex;
    justify-content: center;
}
.scoreAndTimer, h2 {
    padding: 0 15px 0 15px;
}

#scoreMove {
    position: relative;
}