body {
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
}
input {
    padding: 0 10px 0 10px;
    font-size: 20px;    
    text-align: center;
}
h1 {
    padding: 10px 0 10px 0;
}

#info {
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}
#info, h1 {
    padding: 0 15px 0 15px;
}

/*invisible {
    visibility: hidden;
} */

.correct {
    color: green;
    visibility: visible;
}

.incorrect {
    color: red;
    visibility: visible;
}

.scoreAndTimer {
    display: inline-flex;
    justify-content: center;
}
.scoreAndTimer, h2 {
    padding: 0 15px 0 15px;
}
